<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileSearch.Properties.Settings>
            <setting name="Workspace" serializeAs="String">
                <value />
            </setting>
            <setting name="FileFilter" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="MaxResults" serializeAs="String">
                <value />
            </setting>
            <setting name="Filter" serializeAs="String">
                <value />
            </setting>
            <setting name="VisualStudioCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="NotepadCmd" serializeAs="String">
                <value />
            </setting>
        </FileSearch.Properties.Settings>
    </userSettings>
</configuration>