<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MLibDojo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MLibDojo.Properties.Settings>
            <setting name="Kata1" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch1" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata2" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch2" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata3" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch3" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata4" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch4" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata5" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata6" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata7" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata8" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata9" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata10" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch5" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch6" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch7" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch8" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch9" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch10" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata11" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata12" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata13" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata14" serializeAs="String">
                <value />
            </setting>
            <setting name="Kata15" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch11" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch12" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch13" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch14" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch15" serializeAs="String">
                <value />
            </setting>
            <setting name="UseMLIBVariable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMLIBQVariable" serializeAs="String">
                <value>True</value>
            </setting>
        </MLibDojo.Properties.Settings>
    </userSettings>
</configuration>